{# Global State Policies #}
set firewall global-options state-policy established action accept
set firewall global-options state-policy related action accept
set firewall global-options state-policy invalid action drop

{# Set network-groups #}
{% for addr in networks | dict2items %}
{% if addr.value.firewall is defined %}
set firewall group network-group NET-{{ "INSIDE" if addr.value.firewall.inside else "OUTSIDE" }} network '{{ addr.value.cidr }}'
{% endif %}
{% endfor %}
{# Set Wireguard network-group #}
set firewall group network-group WIREGUARD network {{ wireguard.cidr }}

{# Set port-groups #}
{% for port_group, data in port_groups.items() %}
{% for port in data.ports %}
set firewall group port-group {{ port_group }} port {{ port }}
{% endfor %}
{% endfor %}

{# Set up FORWARD FILTER #}
{% include 'forward-filter.j2' %}

{# Set up INPUT FILTER #}
{% include 'input-filter.j2' %}
