{# Global State Policies #}
set firewall global-options state-policy established action accept
set firewall global-options state-policy related action accept
set firewall global-options state-policy invalid action drop

{# Set network-groups #}
set firewall group network-group RFC1918 network '10.0.0.0/8'
set firewall group network-group RFC1918 network '172.16.0.0/12'
set firewall group network-group RFC1918 network '192.168.0.0/16'

{% for vlan , addr in networks.items() %}
{% if addr.firewall is defined %}
set firewall group network-group VLAN-{{ vlan }} network '{{ addr.address }}'
{% endif %}
{% endfor %}

{# Set MGMT group #}
set firewall group network-group MGMT network '{{ networks[management_network]['address'] }}'

{# Set Wireguard network-group #}
set firewall group network-group WIREGUARD network {{ wireguard.cidr }}

{# Set port-groups #}
{% for port_group, data in port_groups.items() %}
{% for port in data.ports %}
set firewall group port-group {{ port_group }} port {{ port }}
{% endfor %}
{% endfor %}

{# Set up FORWARD FILTER #}
{% include 'forward-filter.j2' %}

{# Set up INPUT FILTER #}
{% include 'input-filter.j2' %}
