{# Set forward filters #}
set firewall ipv4 forward filter default-action 'drop'

{# Rule 10 - Allow MGMT forwarding #}
set firewall ipv4 forward filter rule 10 action 'accept'
set firewall ipv4 forward filter rule 10 description 'Allow MGMT forwarding'
set firewall ipv4 forward filter rule 10 source group network-group 'MGMT'

{# Rule 9999 - Allow port forward / DNAT #}
set firewall ipv4 forward filter rule 9999 action 'accept'
set firewall ipv4 forward filter rule 9999 description 'Allow DNAT'
set firewall ipv4 forward filter rule 9999 connection-status nat 'destination'
set firewall ipv4 forward filter rule 9999 state 'new'

{# Rule 999999 - Drop RFC1918 unless specified #}
set firewall ipv4 forward filter rule 999999 action 'drop'
set firewall ipv4 forward filter rule 999999 description 'Drop RFC1918 so VLANS are isolated unless pinholes needed'
set firewall ipv4 forward filter rule 999999 state new
set firewall ipv4 forward filter rule 999999 destination group network-group 'RFC1918'
