{# Set input filters #}
set firewall ipv4 input filter default-action 'drop'

{# Rule 10 - Allow DHCP #}
set firewall ipv4 input filter rule 10 action 'accept'
set firewall ipv4 input filter rule 10 description 'Allow DHCP'
set firewall ipv4 input filter rule 10 destination port '53'
set firewall ipv4 input filter rule 10 protocol 'udp'
set firewall ipv4 input filter rule 10 state new

{# Rule 20 - Allow DNS #}
set firewall ipv4 input filter rule 20 action 'accept'
set firewall ipv4 input filter rule 20 description 'Allow DNS'
set firewall ipv4 input filter rule 20 destination port '67'
set firewall ipv4 input filter rule 20 protocol 'udp'
set firewall ipv4 input filter rule 20 state new

{# Rule 30 - Allow NTP #}
set firewall ipv4 input filter rule 30 action 'accept'
set firewall ipv4 input filter rule 30 description 'Allow NTP'
set firewall ipv4 input filter rule 30 destination port '123'
set firewall ipv4 input filter rule 30 protocol 'udp'
set firewall ipv4 input filter rule 30 state new

{# Rule 40 - Allow SSH from Mgmt #}
set firewall ipv4 input filter rule 40 action 'accept'
set firewall ipv4 input filter rule 40 description 'Allow SSH from MGMT'
set firewall ipv4 input filter rule 40 destination port '22'
set firewall ipv4 input filter rule 40 source group network-group 'MGMT'
set firewall ipv4 input filter rule 40 protocol 'tcp'
set firewall ipv4 input filter rule 40 state new

{# Rule 50 - Allow ICMP #}
set firewall ipv4 input filter rule 50 action 'accept'
set firewall ipv4 input filter rule 50 icmp type-name 'echo-request'
set firewall ipv4 input filter rule 50 description 'Allow ICMP'
set firewall ipv4 input filter rule 50 protocol 'icmp'
set firewall ipv4 input filter rule 50 state new

{# Rule 60 - Allow WIREGUARD #}
set firewall ipv4 input filter rule 60 action 'accept'
set firewall ipv4 input filter rule 60 description 'Allow WIREGUARD'
set firewall ipv4 input filter rule 60 destination port '51820'
set firewall ipv4 input filter rule 60 source group network-group 'WIREGUARD'
set firewall ipv4 input filter rule 60 protocol 'tcp_udp'
set firewall ipv4 input filter rule 60 state new
