{# Set input filters #}
set firewall ipv4 input filter default-action 'drop'

{# Rule 10 - Allow any from home-network #}
set firewall ipv4 input filter rule 10 action 'accept'
set firewall ipv4 input filter rule 10 description 'Allow from home network'
set firewall ipv4 input filter rule 10 source group network-group 'NET-OUTSIDE'

{# Set Rule 20 + - Allow Port groups #}
{% set rule_number = namespace(value=20) %}
{% for port_group , data in port_groups.items() %}
set firewall ipv4 input filter rule {{ rule_number.value }} description 'Allow {{ port_group }} to Firewall'
set firewall ipv4 input filter rule {{ rule_number.value }} destination group port-group {{ port_group }}
set firewall ipv4 input filter rule {{ rule_number.value }} action 'accept'
set firewall ipv4 input filter rule {{ rule_number.value }} protocol '{{ data.protocol }}'
set firewall ipv4 input filter rule {{ rule_number.value }} state new
{% set rule_number.value = rule_number.value + 10 %}
{% endfor %}
